.App-menu::before {
    content: "Menu";
    width: 100%;
    height: 30px;  
  }
@media(min-width: 40.0rem) { 
  .App-menu::before {
    display: none;
  }
}
.controls {
  font-size: 1.7rem!important;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1rem;
}
/* .button-outline {
  width: 100%;
} */
@media (min-width: 40.0rem) { 
  .button {
    width: auto;
  }
  select {
    width: 140px;
    margin-left: 10px;
  }
}

/* Utilities */
.spacing-top {
  padding-top: 15px;
}
.spacing-bottom {
  padding-bottom: 15px;
}
.border-top {
  border-top: 0.1rem solid #f4f5f6;
}
.border-bottom {
  border-bottom: 0.1rem solid #f4f5f6;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
